@model NEAOIB.Models.Account

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<style>
    body {
        margin: 0;
        box-sizing: border-box;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #6A706E;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 895px;
        background: linear-gradient(to bottom, #6A706E 0%, #12664F 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        .intro h2 {
            font-family: sans-serif;
            font-size: 40px;
            color: #242323;
            font-weight: bold;
            margin: 0;
        }

        .intro h4 {
            font-family: sans-serif;
            font-size: 40px;
            color: #242323;
            font-weight: bold;
            margin: 0;
        }
</style>
<div class="header">
    <h2>Login</h2>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal, intro">
    <h4>Account</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Register")
    </div>
</div>
}

